main {
  margin-top: 135px;
}

.propiedades {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.carta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #121212;
  height: 250px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
}

.carta img {
  height: 60%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .carta {
    flex-basis: calc(50% - 20px);
  }
}

@media (min-width: 769px) {
  .carta {
    height: 400px;
    /* aumenta la altura de la carta en laptop */
    flex-basis: calc(25% - 20px);
  }
}

.cartaTexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: small;
}

.cartaTexto h3 {
  margin: 0px;
  color: #cccc;
  font-weight: normal;
  font-size: small;
}

.cartaBotonEspace {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cartaBoton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003986;
  padding: 5px;
  border-radius: 5px;
  color: white;
  border: none;
  width: 100%;
}