body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}

h1{
    color: white;
    font-weight: normal;
}

.titulo{
    padding-left: 20px;
}

a{
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: black;
    top: 0%;
    left: 0%;
    width: 100%;
}

.navegador{
    border-bottom: 1px solid #1c1c1c;
}

.navegadorLista{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0%;
}
