body {
    background-color: #0c1416;
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}

h1{
    color: #A6A6A6;
}

.titulo{
    padding: 20px;
}

a{
    color: white;
    text-decoration: none;
    
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #0c1416;
    top: 0%;
    left: 0%;
    width: 100%;
}

.navegador{
    border-bottom: 1px solid #252e34;
}

.navegadorLista{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0%;
}
