main{
  margin-top: 140px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.menuCajas {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: #151515;
  height: 200px;
  margin: 1px;
  border-radius: 5px;
}

.menuCajas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-color: #101010;
}

@media (max-width: 768px) {
  .menuCajas {
    flex-basis: 100%;
  }
}

@media (min-width: 769px) {
  .menuCajas {
    height: 400px;
    flex-basis: calc(25% - 20px);
  }
}